<!DOCTYPE html>
<html>
<head>

</head>
<body>
<% for(var i = 0;i < list.length;i++){ %>
<div>
  <p><%= list[i].time %></p>
  <h4>
    <a href="<%= list[i].href %>">
      <%= list[i].title %>
    </a>
  </h4>
</div>
<% } %>
</body>
<style>
  .img {
    width: 800px;
  }
</style>
</html>
